@using Vidly.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Customers";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <text>We don't have any movie yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", new { id = movie.Id })</td>
                <td>@movie.MovieGenre.Name</td>
            </tr>
        }
        </tbody>
    </table>
}
