@using Vidly.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Customers";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("Add new", "New", "Movies", null, new { @class = "btn btn-primary"})
<br>
<br>
@if (!Model.Any())
{
    <text>We don't have any movie yet.</text>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })</td>
                <td>@movie.MovieGenre.Name</td>
                <td>
                    <button class="btn-link js-delete" data-movie-id="@movie.Id">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            const movies = $("#movies");
            const table = movies.DataTable();
            
            movies.on("click", ".js-delete", function() {
                const button = $(this);
                bootbox.confirm("Are you sure you want to delete this?", function(respond) {
                  if (respond){
                      $.ajax({
                        url: `api/movies/${button.attr('data-movie-id')}`,
                        method: 'DELETE',
                      }).then(function() {
                        table.row(button.parents('tr')).remove().draw();
                      });
                  }
                });
            });
        });
    </script>
}
